button {
	margin-left: .5em;
}

.navButtons {
	float: right;
}

.clearBoth {
	display: block;
	clear: both;
}

/* Styles for pollListings */

.pollEntryContainer {
	border: 1px solid black;
	margin: 10px;
	padding: 8px;
	background-color: #eee;
}

.entryTitle {
	font-size: 25px;
}

.poll-btn-group {
	text-align: right;
}

.template-btn-group {
	text-align: right;
}

.copyPollButton {
	margin-right: 5px;
}

#pollsListHeader {
	border: 1px solid lightgrey;
	background-color: orange;
	margin: 10px;
	text-align: center;
	font-size: 33px;
}