/* Unified Style Draft - Blue header, tight square elements */
.soProContainer{
  border-top: 20px solid blue;
  margin-top: 0px;
  padding-bottom: 5px;
  min-height: 40px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.soProContainer .whiteTitle{
  color: white;
  margin-top: -20px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.soProContainer .whiteTitleText{
  color: white;
  margin-top: -20px;
  font-family: Arial, sans-serif;
  float: right;
}
.soProContainer .whiteTitleText:after{
  content: '';
  display: block;
  clear: both;
}

/* Miscellaneous app-wide styles: */

button {
	margin-left: .5em;
}

.navButtons {
	float: right;
}

.clearBoth {
	display: block;
	clear: both;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.cambrianWell {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #eee;
}

.cambrianModalWell {
  border: 1px solid black;
  margin: 10px;
  padding: 8px;
  background-color: #eee;
}

.cambrianAntiWell {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #fff;
}

.nav-tabs li,
.copyPollButton,
.deletePollButton {
	cursor: pointer;
}



/* Style some bootstrap labels to fill their columns: */
#pollsFromRecentContainer .label,
.pollEntryContainer .label
{
  display: block;
}

/* Styles for pollListings */

.pollEntryContainer {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #eee;
}

.pollTitle {
	font-size: 20px;
}

.poll-btn-group {
	height: 68px;
	position: relative;
}

.template-btn-group {
	position: absolute;
	bottom: 0;
}

.copyPollButton {
	margin-right: 5px;
}

#pollsListHeader {
	border: 1px solid lightgrey;
	background-color: orange;
	text-align: center;
	font-size: 33px;
}

/* Styles for targetSelection */
#targetPaneTabs{
  padding-top: 24px;
}

.targetTab{
  position: relative;
  line-height: 24px;
  font-size: 20px;
  height: 24px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
}
.targetTab .fa{
  font-size: 18px;
  line-height: 24px;
  margin: 0 5px 0 0;
}
.targetTab.targeting{
  background-color: #777777;
}
#targetSelectionContainer{
  min-height: 140px;
}
#targetPaneList{
  background-color: #777777;
  padding-top: 0;
  padding-bottom: 20px;
  color: white;
}
#targetPaneList select{
  width: 100%;
  display: block;
  color: black;
}

/* Styles for customizePoll */
#pollSaveWidget{
  width: 20em;
  margin: auto;
  padding: 10px 20px 0 20px;
  border: 1px solid black;
}
#pollSaveWidget h4{
  display: inline-block;
  position: absolute;
  background-color: white;
  margin-top: -20px;
  margin-left: 8px;
}
#pollSaveWidget input[checkbox]{
  display: inline-block; 
}
#pollSaveWidget label{
  display: block;
}
#pollSaveButton{
  display: block;
  margin: 0 auto 5px auto;
}
.greyedOut, .grayedOut{
  color: #777777;
}

/* Styles for pollResults */

#ballotView {
	margin-top: 40px;
}

#pollStatus {
	margin-top: 24px;
	margin-bottom: 10px;
}

#resultsChart {
	display: block;
	height: 300px;
	width: 100%;
}

.resultsTable {
	width: 100%;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	background-color: #fff;
}

.resultsTable tr td:first-child {
	border-left: 0;
}

.commentsTable {
	width: 100%;
	border: 1px solid lightgrey;
	background-color: #fff;
}

.commentsTable thead {
	display: block;
}

.commentsTable tbody {
	height: 200px;
	overflow-y:scroll;
	display: block;
}

.resultsTable td,
.commentsTable td,
.commmentsTable th {
	padding: 8px;
	border: 1px solid black;
}

.resultsTable tr:first-child td,
.commentsTable tr:first-child th {
	border-top: 0;
}

.resultsTable tr:last-child td,
.commentsTable tr:last-child td {
	border-bottom: 0;
}

.commentsTable tr td:first-child,
.commentsTable tr th:first-child {
	border-left: 0;
}

.fromCol {
	width: 100px;
}

.resultsTable tr td:last-child,
.commentsTable tr td:last-child,
.commentsTable tr th:last-child {
	border-right: 0;
	width: 50px;
}

.commentsTable tr td:last-child {
	width: 70px;
}

/* Styles for Help Modal */

.help-label {
  width: 100px;
  text-align: center;
}

.indent1 {
  margin-left: 25px;
}

.indent2 {
  margin-left: 50px;
}

/* Animations */
.animate-show {
  line-height:20px;
  opacity:1;
  padding: 10px 0px 0px 0px;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.color-chip {
  display: inline-block;
  border: 1px solid grey;
  min-width: 12px;
  min-height: 12px;
  margin: 14px 7px 0 0;
  float: left
}

.color-tag {
	float: left
}

.menu-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  height: initial;
}

#viewButtons {
  display: inline-block;
  margin-right: 12px;
}

.viewButton {
  -webkit-user-select: none;
  cursor: pointer;
  margin: 7px 0;
  outline: none;
  padding: 12px;
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: normal;
  line-height: 21px;
  min-width: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.viewButton material-icon {
  height: 24px;
  outline: none;
  width: 24px;
  direction: ltr;
  text-align: left;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.viewButton:hover {
  background-color: rgba(0,0,0,0.1);
}
.viewButton.inactive {
  opacity: 0.5;
}

.menuDrawerButton {
  border: 1px solid rgba(0,0,0,0.2);
}
.menuDrawerButton.active {
  background-color: rgba(0,0,0,0.1);
}
.menuDrawerButton.inactive {
  opacity: 0.5;
}

#quilt {
  vertical-align: top;
}

.container {
  font-size: 14px;
  height: 100%;
  left: 10px;
  margin: auto;
  padding: 0 0 150px 0;
  position: relative;
  width: 690px;
}

@media only screen and (min-width: 1100px) {
  .container {
    width: 920px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1150px;
  }
}


.bold {
  font-weight: bold;
}

#quickAddBox {
  border: 1px solid lightgrey;
  display: block;
  position: relative;
  max-width: 612px;
  min-width: 545px;
  box-sizing: border-box;
  padding: 8px;
  line-height: 24px;
  background-color: white;
  margin:30px;
  margin-right: 0px;
}

#quickAddTitle {
  display: inline-block;
  border-bottom: none;
  font-size: 14px;
}

.bold {
  font-weight: bold;
  font-size: 17px;
}
#quickAddDescription {
  display: inline-block;
  border-bottom: none;
  font-size: 14px;
}

input {
  border-bottom: none;
}

textarea {
  border-bottom: none;
  width: 100%;
  line-height: 1.2em;
}

#quickAddButton {
  float: right;
}


material-button.material-button-fab.material-button-fab-bottom-right {
      right: 24px;
      bottom: 24px;
      position: fixed; 
      margin-right: 15px;
}

/* Styles for Cards */
.cardholder {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.quilt {
  display: inline-block;
}
.stream {
  width:100%;
}
.stream material-card {
  width: 95%;
  max-width: none;
}

.mainCard {
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  color: #444;
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 208px;
  cursor: pointer;
}

.mainCard:hover {
  border-color: #679fff;
  box-shadow: 0px 1px 0px #cddfff;
  outline: none;
  border-style: solid;
  border-width: 1px;
}

.pollOriginatorLine {
  margin: 7px 0 14px 0;
}

.pollTitleLine {
  margin: 0 0 14px 0;
}

.cardContentContainer {
  margin-bottom: 30px;
  max-height:300px;
  overflow:hidden;
}

.votes {
  background-color: #FF6D3F;
}

.running {
  background-color: #1CE8B5;
}

.completed,
.voted {
  background-color: #3FC3FF;
}

.unstarted {
  background-color: #B8C4C9;
}

.pollDetails {
  font-size: 12px;
}

.pollReturns {
  height: 100px;
}

.optionCounts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  float: left;
  max-width: 60%;
}

.options table {
  margin-bottom: 0;
}

.options table td {
  padding: 3px;
  border-top: none;
  vertical-align: middle;
}

.previewCheckbox {
  width: 30px;
}

.pieChartContainer {
  height: 100px;
  width: 100px;
  float: right;
}

div .cardMenuBar {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 40px;
  max-height: 40px;
  margin: -25px -10px -10px -10px;
  padding: 5px; 
  vertical-align: middle;
}

.startPollButton,
.stopPollButton {
  margin-top: 6px;
}

.overflowMenuButton {
  margin-top: 6px;
  float: right; 
}

.streamOverflowMenuButton:hover {
  opacity: 0.5;
}

.overflowMenu {
  z-index: 2;
  position: absolute;
  margin-right: 10px;
  margin-top: -10px;
  right: 0%;
  top: 97%;
  padding: 16px 24px;
  font-size: .9em;
}

.overflowMenuQuilt {
  width: 100%;
}

.overflowMenu a {
  cursor: pointer;
  line-height: 32px;
}

/* Card Zoom */
#dialogLayout {
  position: relative;
}

.material-dialog-container material-dialog .dialog-content {
  max-width: 671px;
  padding: 16px 24px;
}

.optionsLine.focused {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.optionsInput {
  display: inline-block !important;
}

#addOptionInput {
  line-height: 15px;
  margin: 5px 0;
}

.newOptionWrapper {
  margin: 16px 0;
}

.newOptionWrapper.focused {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

material-checkbox {
  margin: 1px;
}

#addOptionInput {
  background-image: url(../material-icons/icons/system_icons/content/res/1x_web/ic_add_18dp.png);
  background-repeat: no-repeat;
  text-indent: 20px;
}

material-checkbox[disabled] {
  opacity: 0.3;
}

.dialog-menubar-actions {
  display: inline;
  float: left;
}

.dialog-menubar-actions .material-button-icon {
  height: 32px;
  width: 32px;
  line-height: 43px;
}

.dialog-options-container {
  vertical-align: top;
  height: 122px;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 8px;
  margin: 1px;
}

.dialog-options-container input {
  display: inline;
  color: #444;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  border: none;
}

.dialog-options-options {
  margin-right: 7px;
  margin-left: 20px; 
  float: left;
}

.dialog-options-poll-ends {
  margin-left: 7px;
  margin-right: 14px;
  float: right;
}

.dialog-options-save-options {
  margin-top: 7px;
  margin-bottom: 6px;
  float: left;
}

.dialog-options-button-options {
  margin-top: 7px;
  margin-left: 7px;
}

.dialog-options-button-options label {
  display: inline-block;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 30px;
}

.custom-dropdown select {
  background-color: transparent;
  color: #444;
  font-size: inherit;
  padding-right: 2.5em; 
  border: none;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  border-bottom: 2px solid #B1AFAF;
  width: 170px;  
}
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  padding-bottom: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  margin-top: 8px;
  left: 150px;
}

.custom-dropdown::before {
  width: 2em;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown::before {
  background-color: transparent;
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.small {
  font-size: 1em;
}

#ballotPreview {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  z-index: -1;
  position: absolute;
  right: -310px;
  top: 0;
  padding: 16px 24px;
  margin-top: 0px;
}

/* Results Card Styles */
#statsBox {
  float: left;
  width: 27%;
  border-right: 1px solid grey;
}

#resultsBox {
  float: right;
  width: 70%;
}

.tableTitle {
  font-size: 14px;
}

#pollResultsTable {
  width: 100%;
  font-size: 12px;
}

#pollStatsTable {
  width: 75%;
  font-size: 12px;
}

#pollCommentsTable table {
  font-size: 12px;
  margin-bottom: 0;
}

.chatCell {
  width: 80px;
}

#backToResultsButton {
  margin-left: 16px;
}

.bigPieChartContainer {
  height: 200px;
  width: 200px;
  float: right;
  -webkit-transform: rotate(90deg);
}

material-dialog div .cardMenuBar {
  margin: 0;
  line-height: 17px;
}

.pollEndsDate {
  margin-top: -25px;
  margin-bottom:30px;
  font-size: 0.7em;
  opacity: 0.7;
}

/* Styles for Material Tabs */
.tabs-content .material-view {
    background-color: #fff;
    height: 100%;
}

div.infoBar input {
    display: inline-block;
}

div.infoBar {
    margin-left: 20px;
    height: 75px;
    font-size: .8em;
}

material-tabs {
  width: auto;
}

material-tab material-tab-label {
  color: #fff;
  opacity: 0.5;
}

material-tab material-tab-label.active {
  color: #fff;
  opacity: 1.0;
}

a.active {
  color: #000 !important;
  opacity: 1.0; 
}

material-ink-bar {
  background: #000;
}

material-tabs .tabs-content {
    height: 100%;
}

material-card {
  margin-top: 16px;
  background-color: #ffff8d;
}
.filterDropdown {
  margin-right: 30zpx;
}

ul#filters {
  display:none;
}

/* Styles for Material Voting Booth */
#ballotCard {
  max-width: 300px;
  min-width: 300px;
}

#ballotTitle {
  margin: 14px 0 10px 0;
}

#ballotOptionsContainer {
  margin-bottom: 14px;
}

.ballotOption {
  line-height: 48px;
}

#commentInput {
  background-color: #fff;
}
.chart {
 width: 100px;
 height: 100px;
}
::-webkit-scrollbar {  
    width: 12px; 
}  
::-webkit-scrollbar-track {  
    background-color: rgba(234,234,234,0.2);
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

material-toolbar {
  box-shadow: 0px 1px 4px rgba(0,0,0,.3);
  font-family: Roboto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  height: 64px;
  position: relative;
  z-index: 1
}

.toolbarTitle {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.viewButton:hover {
  opacity: 1;
}

#optionsQuickNewPoll .menuDrawerButton {
  height: 25px;
  width: 30px;
  margin-right: 5px;
}
#optionsQuickNewPoll {
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}
#quickBallotPreview {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  padding: 16px 24px;
  margin-top: 30px;
}
.ui-timepicker-wrapper {
  height: 125px;
}
#templatesContainer {
  height: 100%;
  padding-right: 5px;
}
#quickAddButton:hover {
  border-color: rgb(75,75,75);
}
#quickStartButton:hover {
  border-color: rgb(75,75,75)
}
.chatLink {
  cursor: pointer;
}
material-dialog-container material-dialog {
  width:671px;
}
.material-dialog-container material-dialog .dialog-content {
  width:671px;
}
.appVersion p {
  color: slategray;
  margin-bottom: 0px;
  padding: 10px;
}
.nvd3.nv-pie path {
  stroke: #000 !important;
}
.pieChartContainer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
 }
 .positionAuto {
    top: auto !important;
    left: auto !important;
    position: relative !important;
  }
.stream .overflowMenu {
  width: initial;
  right: 4%;
}
material-content > .material-content {
  padding: 0px 5%;
}
.streamMainCard {
  height: 48px;
  max-height: 48px;
  margin:0px;
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid #e3e3e3;
  color: #444;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.streamMainCard:hover {
  opacity:0.9;
}

.firstCard {
  margin-top: 16px;
}
.streamCardContentContainer {
  width:90%;
}
.streamPollLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  margin-left: 14px;
  padding: 2px;
  width: 50%;
  margin-bottom: auto;
  margin-left: 16px;
  margin-top: auto;
}
.streamPollLine.gray {
  color: #777;
}
.streamCardMenuBar {
  width: 10%;
}
.startPollButton {
  margin-right: 10px;
}
.stopPollButton {
  margin-right: 10px;
}
.streamCardholder {
  position: relative;
}

.material-toolbar-tools {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
  min-width: 100px;
  outline: none;
  padding: 8px 0 8px 16px;
  white-space: nowrap;
  width: 240px;
  min-height: 64px;
}
.toggleImage {
  height: 24px;
  outline: none;
  width: 24px;
  direction: ltr;
  text-align: left;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.filterDropdown {
  visibility: visible;
  left: -94px;
  top: 64px;
  opacity:1;
  background-color: #fafafa;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(255,255,255,.9) 0px 1px 0px inset, rgba(0,0,0,.03) 0px -1px 0px inset, rgba(0,0,0,0.2) 0px 1px 3px;
  padding: 0;
  border-color: #bbb #bbb #a8a8a8;
  position: absolute;
  z-index: 1201!important;
}
.filterDropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0; top: 0; bottom: 0;
    border-radius: 0 3px 3px 0;
    content: "\25b2";
    color: white;
    height: 1em;
    font-size: 20px;
    line-height: 1;
    right: -4%;
    top: -3%; 
    margin-top: -.5em;
    position: absolute;
}
.dropdownContent {
  -webkit-user-select: none;  
  background: transparent;
  border: none;
  position: relative;
  text-align: justify;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: opacity 0.218s;
  cursor: default;
  font-size: 13px;
  margin: 0;
  outline: none;
  padding: 6px 0;
}
.dropdownOption {
  background-repeat: no-repeat;
  height: 21px;
  vertical-align: middle;
  width: 21px;
}
material-content > .material-content {
  padding: 0;
}
ng-view {
  overflow: visible;
}
material-content, .material-content {
  overflow: visible;
}
.optionPreview {
  overflow:hidden;
}
material-sidenav {
  border: 1px solid #e3e3e3;
  border-top: none;
  border-width: 1px 0;
  font-size: 14px;
  padding: 0px 0px 6px;
  min-width: 240px;
  max-width: 240px;
  z-index: 1;
}
.sidenavToolbar {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 12px;
  background-color: #fff;
  color: #333;
}
.sidenavToolbar:hover {
  background-color: #eee;
}
.sidenavButton {
  color: #555555;
  padding: 13px 0 13px 28px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  list-style: none;
  margin: 0;
  white-space: nowrap;
  text-align: left;
}
.streamMargin {
  margin-top: 55px;
}
material-dialog>div{
  overflow: auto;
}
.noShadow {
  box-shadow: 0px 0px 0px;
}
.streamTitles {
  background: #eeeeee;
  padding: 10px 0 10px 0;
  color: #888888;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  outline: none;
  font-weight: 500;
  margin: 0px 10px;
}