/* Unified Style Draft - Blue header, tight square elements */

.soProContainer{
  border-top: 20px solid blue;
  margin-top: 0px;
  padding-bottom: 5px;
  min-height: 40px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.soProContainer .whiteTitle{
  color: white;
  margin-top: -20px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.soProContainer .whiteTitleText{
  color: white;
  margin-top: -20px;
  font-family: Arial, sans-serif;
  float: right;
}
.soProContainer .whiteTitleText:after{
  content: '';
  display: block;
  clear: both;
}

/* Miscellaneous app-wide styles: */

button {
	margin-left: .5em;
}

.navButtons {
	float: right;
}

.clearBoth {
	display: block;
	clear: both;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.cambrianWell {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #eee;
}

.cambrianModalWell {
  border: 1px solid black;
  margin: 10px;
  padding: 8px;
  background-color: #eee;
}

.cambrianAntiWell {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #fff;
}

.nav-tabs li,
.copyPollButton,
.deletePollButton {
	cursor: pointer;
}



/* Style some bootstrap labels to fill their columns: */
#pollsFromRecentContainer .label,
.pollEntryContainer .label
{
  display: block;
}

/* Styles for pollListings */

.pollEntryContainer {
	border: 1px solid black;
	margin: 10px 0px;
	padding: 8px;
	background-color: #eee;
}

.pollTitle {
	font-size: 20px;
}

.poll-btn-group {
	height: 68px;
	position: relative;
}

.template-btn-group {
	position: absolute;
	bottom: 0;
}

.copyPollButton {
	margin-right: 5px;
}

#pollsListHeader {
	border: 1px solid lightgrey;
	background-color: orange;
	text-align: center;
	font-size: 33px;
}

/* Styles for targetSelection */
#targetPaneTabs{
  padding-top: 24px;
}

.targetTab{
  position: relative;
  line-height: 24px;
  font-size: 20px;
  height: 24px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
}
.targetTab .fa{
  font-size: 18px;
  line-height: 24px;
  margin: 0 5px 0 0;
}
.targetTab.targeting{
  background-color: #777777;
}
#targetSelectionContainer{
  min-height: 140px;
}
#targetPaneList{
  background-color: #777777;
  padding-top: 0;
  padding-bottom: 20px;
  color: white;
}
#targetPaneList select{
  width: 100%;
  display: block;
  color: black;
}

/* Styles for customizePoll */
#pollSaveWidget{
  width: 20em;
  margin: auto;
  padding: 10px 20px 0 20px;
  border: 1px solid black;
}
#pollSaveWidget h4{
  display: inline-block;
  position: absolute;
  background-color: white;
  margin-top: -20px;
  margin-left: 8px;
}
#pollSaveWidget input[checkbox]{
  display: inline-block; 
}
#pollSaveWidget label{
  display: block;
}
#pollSaveButton{
  display: block;
  margin: 0 auto 5px auto;
}
.greyedOut, .grayedOut{
  color: #777777;
}

/* Styles for pollResults */

#ballotView {
	margin-top: 40px;
}

#pollStatus {
	margin-top: 24px;
	margin-bottom: 10px;
}

#resultsChart {
	display: block;
	height: 300px;
	width: 100%;
}

.resultsTable {
	width: 100%;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	background-color: #fff;
}

.resultsTable tr td:first-child {
	border-left: 0;
}

.commentsTable {
	width: 100%;
	border: 1px solid lightgrey;
	background-color: #fff;
}

.commentsTable thead {
	display: block;
}

.commentsTable tbody {
	height: 200px;
	overflow-y:scroll;
	display: block;
}

.resultsTable td,
.commentsTable td,
.commmentsTable th {
	padding: 8px;
	border: 1px solid black;
}

.resultsTable tr:first-child td,
.commentsTable tr:first-child th {
	border-top: 0;
}

.resultsTable tr:last-child td,
.commentsTable tr:last-child td {
	border-bottom: 0;
}

.commentsTable tr td:first-child,
.commentsTable tr th:first-child {
	border-left: 0;
}

.fromCol {
	width: 100px;
}

.resultsTable tr td:last-child,
.commentsTable tr td:last-child,
.commentsTable tr th:last-child {
	border-right: 0;
	width: 50px;
}

.commentsTable tr td:last-child {
	width: 70px;
}

/* Styles for Help Modal */

.help-label {
  width: 100px;
  text-align: center;
}

.indent1 {
  margin-left: 25px;
}

.indent2 {
  margin-left: 50px;
}

/* Animations */
.animate-show {
  line-height:20px;
  opacity:1;
  padding: 10px 0px 0px 0px;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

/* Styles for material UX */
material-sidenav {
  max-width: 175px;
  min-width: 175px;
  overflow: hidden;
}
.color-chip {
  display: inline-block;
  border: 1px solid grey;
  min-width: 12px;
  min-height: 12px;
  margin: 2px;
}

.menu-icon {
  top: 0;
  margin-top: 10px;
  cursor: pointer;
}

#viewButtons {
  margin: 8px 18px 0px 18px;
}

.viewButton {
  border: 1px solid rgba(0,0,0,0.2);
  height: 48px;
  width: 53px;
}
.viewButton.active {
  background-color: rgba(0,0,0,0.1);
}
.viewButton.inactive {
  opacity: 0.5;
}

.menuDrawerButton {
  border: 1px solid rgba(0,0,0,0.2);
}
.menuDrawerButton.active {
  background-color: rgba(0,0,0,0.1);
}
.menuDrawerButton.inactive {
  opacity: 0.5;
}

#quilt {
  vertical-align: top;
}

.content-padding {
  padding-top: 24px;
  padding: 20px;
  height: 95%;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

#quickAddBox {
  border: 1px solid lightgrey;
  display: block;
  position: relative;
  max-width: 612px;
  width: 612px;
  box-sizing: border-box;
  padding: 8px;
  line-height: 24px;
  background-color: white;
}

#quickAddTitle {
  display: inline-block;
  border-bottom: none;
  font-size: 14px;
}

.bold {
  font-weight: bold;
  font-size: 17px;
}
#quickAddDescription {
  display: inline-block;
  border-bottom: none;
  font-size: 14px;
}

input {
  border-bottom: none;
}

textarea {
  border-bottom: none;
  width: 100%;
  line-height: 1.2em;
}

#quickAddButton {
  float: right;
}


material-button.material-button-fab.material-button-fab-bottom-right {
      top: auto;
      right: 56px;
      bottom: 28px;
      left: auto;
      position: fixed; 
      margin-right: 15px;
}

/* Styles for Cards */
.cardholder {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.quilt {
  display: inline-block;
}
.stream {
  width:100%;
}
.stream material-card {
  width: 95%;
  max-width: none;
}

.mainCard {
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  min-width: 300px;
  max-width: 300px;
  padding: 16px 24px;
}

.pollOriginatorLine {
  margin: 7px 0 14px 0;
}

.pollTitleLine {
  margin: 0 0 14px 0;
}

.cardContentContainer {
  margin-bottom: 30px;
  max-height:300px;
  overflow:hidden;
}

.votes {
  background-color: #d19b9b;
}

.running {
  background-color: #92e4c9;
}

.completed,
.voted {
  background-color: #c9d1ff;
}

.unstarted {
  background-color: #ffffff;
}

.pollDetails {
  font-size: 12px;
}

.pollReturns {
  height: 100px;
}

.optionCounts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  float: left;
  max-width: 60%;
}

.options table {
  margin-bottom: 0;
}

.options table td {
  padding: 3px;
  border-top: none;
  vertical-align: middle;
}

.previewCheckbox {
  width: 30px;
}

.pieChartContainer {
  height: 100px;
  width: 100px;
  float: right;
}

div .cardMenuBar {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 40px;
  max-height: 40px;
  margin: -24px -24px -16px -24px;
  padding: 5px; 
  vertical-align: middle;
}

.startPollButton,
.stopPollButton {
  margin-top: 6px;
}

.overflowMenuButton {
  margin-top: 6px;
  float: right; 
}

.overflowMenu {
  z-index: 2;
  position: absolute;
  margin-right: 10px;
  margin-top: -10px;
  right: 0;
  top: 100%;
  padding: 16px 24px;
}

.overflowMenu a {
  cursor: pointer;
  line-height: 32px;
}

/* Card Zoom */
#dialogLayout {
  position: relative;
}

.material-dialog-container material-dialog .dialog-content {
  min-width: 671px;
  max-width: 671px;
  padding: 16px 24px;
  overflow: hidden;
}

.optionsLine.focused {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.optionsInput {
  display: inline-block !important;
}

#addOptionInput {
  line-height: 15px;
  margin: 5px 0;
}

.newOptionWrapper {
  margin: 16px 0;
}

.newOptionWrapper.focused {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

material-checkbox {
  margin: 1px;
}

#addOptionInput {
  background-image: url(../material-icons/icons/system_icons/content/res/1x_web/ic_add_18dp.png);
  background-repeat: no-repeat;
  text-indent: 20px;
}

material-checkbox[disabled] {
  opacity: 0.3;
}

.dialog-menubar-actions {
  display: inline;
  float: left;
}

.dialog-menubar-actions .material-button-icon {
  height: 32px;
  width: 32px;
  line-height: 43px;
}

.dialog-options-container {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 8px;
  margin: 1px;
}

.dialog-options-container input {
  display: inline;
  color: #444;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  height: 100%; 
  border: none;
}

.dialog-options-options {
  margin-right: 7px;
  margin-left: 20px; 
  float: left;
}

.dialog-options-poll-ends {
  margin-left: 7px;
  margin-right: 14px;
  float: right;
}

.dialog-options-save-options {
  margin-top: 7px;
  margin-bottom: 6px;
  float: left;
}

.dialog-options-button-options {
  margin-top: 7px;
  margin-left: 7px;
}

.dialog-options-button-options label {
  display: inline-block;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  margin-left: 30px;
}

.custom-dropdown select {
  background-color: transparent;
  color: #444;
  font-size: inherit;
  padding-right: 2.5em; 
  border: none;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  border-bottom: 2px solid #B1AFAF;
  max-width: 300px;  
}
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  padding-bottom: none;
}

.custom-dropdown::after {
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  margin-top: 8px;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown::before {
  background-color: transparent;
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.small {
  font-size: 1em;
}

#ballotPreview {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  z-index: -1;
  position: absolute;
  right: -310px;
  top: 0;
  padding: 16px 24px;
}

/* Results Card Styles */
#statsBox {
  float: left;
  width: 27%;
  border-right: 1px solid grey;
}

#resultsBox {
  float: right;
  width: 70%;
}

.tableTitle {
  font-size: 14px;
}

#pollResultsTable {
  width: 100%;
  font-size: 12px;
}

#pollStatsTable {
  width: 75%;
  font-size: 12px;
}

#pollCommentsTable table {
  font-size: 12px;
  margin-bottom: 0;
}

.chatCell {
  width: 80px;
}

#backToResultsButton {
  margin-left: 16px;
}

.bigPieChartContainer {
  height: 200px;
  width: 200px;
  float: right;
}

material-dialog div .cardMenuBar {
  margin: 0;
  line-height: 17px;
}

.pollEndsDate {
  padding-top: 5px;
  border-style: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: thin;
  margin-top: -25px;
  margin-bottom:30px;
  font-size: 0.7em;
  opacity: 0.7;
}

/* Styles for Material Tabs */
.tabs-content .material-view {
    background-color: #fff;
    height: 100%;
}

div.infoBar input {
    display: inline-block;
}

div.infoBar {
    margin-left: 20px;
    height: 75px;
    font-size: .8em;
}

material-tabs {
  width: auto;
  margin: -20px -20px 0 -20px;
}
material-tabs .tabs-header .tabs-header-items {
  background-color: #ffeb3b;
}

material-tab material-tab-label {
  color: #000;
  opacity: 0.5;
}

material-tab material-tab-label.active {
  color: #000;
  opacity: 1.0;
}

a.active {
  color: #000 !important;
  opacity: 1.0; 
}

material-ink-bar {
  background: #000;
}

material-tabs .tabs-content {
    height: 100%;
}

material-card {
  margin-top: 16px;
  background-color: #ffff8d;
}
.filterDropdown {
  margin-right: 30zpx;
}

ul#filters {
  display:none;
}

/* Styles for Material Voting Booth */
#ballotCard {
  max-width: 300px;
  min-width: 300px;
}

#ballotTitle {
  margin: 14px 0 10px 0;
}

#ballotOptionsContainer {
  margin-bottom: 14px;
}

.ballotOption {
  line-height: 48px;
}

#commentInput {
  background-color: #fff;
}
.chart {
 width: 100px;
 height: 100px;
}
::-webkit-scrollbar {  
    width: 12px; 
}  
::-webkit-scrollbar-track {  
    background-color: rgba(234,234,234,0.2);
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

material-toolbar {
  min-height: 48px;
  height: 48px;
}

.toolbarTitle {
  margin-bottom: 15px;
  font-size: 14px;
  margin-left: 0px;
  color: black;
}

.viewButton {
  border: 1px solid rgba(0,0,0,0.2);
  height: 26px;
  width: 35px;
  margin-top: 4px;
}
.viewButton:hover {
  opacity: 1;
}

.menu-icon {
  top: 0;
  height: 48px;
  margin-top: 8px;
  margin-left: 18px;
  margin-right: 9px;
  cursor: pointer;
}
#optionsQuickNewPoll .menuDrawerButton {
  height: 25px;
  width: 30px;
  margin-right: 5px;
}
#optionsQuickNewPoll {
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}
#quickBallotPreview {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  padding: 16px 24px;
}
#pollsContainer {
  padding: 0px;
  height: 100%;
}
.ui-timepicker-wrapper {
  height: 125px;
}
#templatesContainer {
  height: 100%;
  padding-right: 5px;
}
#quickAddButton:hover {
  border-color: rgb(75,75,75);
}
#quickStartButton:hover {
  border-color: rgb(75,75,75);
.chatLink {
  cursor: pointer;
}