button {
	margin-left: .5em;
}

.navButtons {
	float: right;
}

.clearBoth {
	display: block;
	clear: both;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Styles for pollListings */

.pollEntryContainer {
	border: 1px solid black;
	margin: 10px;
	padding: 8px;
	background-color: #eee;
}

.entryTitle {
	font-size: 20px;
}

.poll-btn-group {
	height: 68px;
	position: relative;
}

.template-btn-group {
	position: absolute;
	bottom: 0;
}

.copyPollButton {
	margin-right: 5px;
}

#pollsListHeader {
	border: 1px solid lightgrey;
	background-color: orange;
	margin: 10px;
	text-align: center;
	font-size: 33px;
}