.mainContentPolls { 
	background: url(../assets/images/153450.jpg) top right no-repeat;
	background-attachment: fixed;
}
.mainContentTemplates { 
	background: url(../assets/images/434655.jpg) top right no-repeat;
	background-attachment: fixed;
}
material-card {
	opacity: 0.9;
}
#quickAddTitle {
	display: inline-block;
	border-bottom: none;
	font-size: 14px;
}
#quickAddDescription {
	display: inline-block;
	border-bottom: none;
	font-size: 14px;
}
#quickAddButton {
	border: 1px solid darkgray;
	background-color: gainsboro;
	color: black;
	margin-right: 5px;
}
#quickStartButton {
	border: 1px solid darkgray;
	background-color: gainsboro;
	color: black;
	margin-right: 10px;
}
.votes {
  background-color: #a48623;
  color:white;
}

.running {
  background-color: #458B74;
  color:white;
}

.completed,
.voted {
  background-color: #40505E;
  color:white;
}

.unstarted {
  background-color: #D2D6DF;
  color:black;
}

.pantheonToolbar {
	background-color: #a48623;
}
.menu-item {
	background-color: rgba(255,255,255,0);
	font-weight: bold;
}
material-sidenav {
	background-color: rgba(255,255,255,0.4);
}

#dialogLayout {
	background-color: #D2D6DF;
}
g text {
	fill: #ffffff !important;
}

#applicationContainer {
	height: inherit;
}
#templateInside {
	width:	inherit;
	height: inherit;
}
material-tabs .tabs-header .tabs-header-items {
	background-color: #a48623;	
}
material-ink-bar {
	background: #fff;
}
.template {
	height: 88px;
}
material-card {
	background-color: #33301E;
	color:white;
}
.overflowMenu {
	color: black;
}
#closeButton:hover {
	background-color: darkgray;
}
.addNewPollBtn {
	background-color: #a48623;
}
#optionsMenu {
  background-color: #D2D6DF; 
}
#commentInput {
	background-color: #8B6D0A;
	border: 1px solid white;
	color: white;
}