/*.mainContentPolls { 
	background: url(../assets/images/153450.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.mainContentPolls { 
	background-color: #eee;
}

/*.mainContentTemplates { 
	background: url(../assets/images/434655.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.mainContentTemplates { 
	background-color: #eee;
}

#quickAddTitle {
	display: inline-block;
	border-bottom: none;
	font-size: 14px;
}

#quickAddDescription {
	display: inline-block;
	border-bottom: none;
	font-size: 14px;
}

.quickButton {
	box-shadow: none;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
}

/*.votes {
  background: rgba(164, 134, 35, 0.7);
  border: 1px solid rgba(228, 189, 60, 0.4);
}

.running {
  background: rgba(69, 139, 116, 0.7);
  border: 1px solid rgba(72, 226, 175, 0.4);
}

.completed,
.voted {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 148, 255, 0.4);
  color: white;
}

.unstarted {
	background: rgba(64, 80, 94, 0.7);	
  border: 1px solid rgba(100, 111, 121, 0.4);
}*/

.pantheonToolbar {
	/*background-color: #000;*/
	background-color: #4285f4 !important;
}

.menu-item {
	background-color: rgba(255,255,255,0);
	font-weight: bold;
}

#dialogLayout {
	background-color: #D2D6DF;
}

g text {
	fill: #ffffff !important;
}

#applicationContainer {
	height: inherit;
}

#templateInside {
	width:	inherit;
	height: inherit;
}

.template {
	height: 88px;
}

/*material-card {
	background: rgba(51, 48, 30, 0.7);
	border: 1px solid rgba(113, 109, 83, 0.5);
	color: white;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}*/

.overflowMenu {
	color: black;
}

#closeButton:hover {
	background-color: darkgray;
}

.addNewPollBtn {
	background-color: #a48623;
}

#optionsMenu {
  background-color: #D2D6DF; 
}

#commentInput {
	background-color: #8B6D0A;
	border: 1px solid white;
	color: white;
}
.md-toolbar-tools.sidenavToolbar {
	color: #333;
}