<!-- begin ballot view -->
<div id="ballotView" class="cambrianAntiWell">
  <h4>Ballot Options</h4>
  <div id="ballotTitle">
    <b>{{poll.type}}: {{poll.title}}</b>
  </div>
  <table class="ballot-table">
    <tr>
      <td ROWSPAN=2 style="text-align: center; width: 53px;"><img src="http://placepic.me/space/50-50" style="margin-right: 3px;"></td>
      <td id="ballotOriginator"><b>{{poll.originator || "BallotCreator"}} says:</b></td>
      <td id="ballotDate">{{poll.dateStarted | date:'short'}}</td>
    </tr>
    <tr>
      <td colspan="2" id="ballotDescription">
        {{poll.description}}
      </td>
    </tr>
  </table>

  <div ng-show="poll.options.length > 0">
    <h4>Respond to Ping:</h4>
    <div id="ballotOptions" class="modal-well">
      <div class="selectInstructions" ng-hide="poll.allowMultipleChoices"><b>Select One:</b></div>
      <div class="selectInstructions" ng-show="poll.allowMultipleChoices"><b>Select One or More:</b></div>
      <form>
        <div ng-repeat="option in poll.options" ng-show="poll.allowMultipleChoices">
          <input class="optionInput" type="checkbox">
            {{option.text}}
        </div>
        <div ng-repeat="option in poll.options" ng-hide="poll.allowMultipleChoices">
          <input class="optionInput" type="radio" value="{{option.text}}">
            {{option.text}}
        </div>
        <div id="commentBoxContainer" style="margin-top: 10px;" class="form-group" ng-show="poll.allowComments">
          <lable id="commentBoxLabel" for="comment">Send a note to {{poll.originator || "BallotCreator"}}:</lable>
          <input id="commentBox" type="text" class="form-control">
        </div>
      </form>   
    </div>
  </div>
  <div class="pull-right">
    <div ng-show="poll.options.length > 0">
      <button id="dismissButton" type="button" class="btn default" ng-disabled="true">{{poll.dismissText || "Dismiss"}}</button>
      <button id="submitButton" type="submit" class="btn blue" ng-disabled="true">{{poll.submitText || "Submit"}}</button>
    </div>
    <div ng-hide="poll.options.length > 0">
      <button id="closeButton" type="button" class="btn default" ng-disabled="true">Close</button>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>
<!-- end ballot view -->