<div id="pollsFromMyTemplatesContainer">
  <div class="pollEntryContainer" ng-repeat="myTemplate in myTemplates">
    <div class="col-md-9">
      <div class="col-md-4">
        <span class="label label-success">{{myTemplate.type == "" ? "Smart Ping" : myTemplate.type}}</span>
      </div>
      <div class="col-md-8">
        <span>{{myTemplate.title}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <span class="forkPollButton" ng-click="newPollFromTemplate(myTemplate)">
          <i class="fa fa-copy"></i> 
          Fork as New Poll
        </span>
      </div>
    </div>
    <div class="clearBoth"></div>
  </div>
</div>
