<div class="row" id="pollHeader">
  <div class="col-md-12">
    <a id="logo" href="#"><img src="assets/images/ping_logo.png"></a>
    </img>
    <div class="navButtons">
      <button class="green btn" id="backButton" ng-click="pollsListingShow()">
        <i class="fa fa-list"></i>
        Back to Polls
      </button>
      <button class="green btn" id="helpButton" ng-click="helpShow()">
        <i class="fa fa-question-circle"></i>
      </button>
    </div> 
  </div>
  <div class="clearBoth"></div>
</div>

<div id="templateManager">
  <div id="pollsListHeader">
    <em>Create a New Poll Using a Template</em>
  </div>
  <div id="sectionTabs">

    <!-- UI Bootstrap creates this as an unordered list -->
    <tabset class="tabbable tabbable-custom">
      <tab heading="My Templates" id="myTemplatesTab">
        <div id="myTemplatesTabContent" class="tab-content">
          <ng-include src="'partials/createPollFromMyTemplates.html'"></ng-include>
          <div class="col-md-2 col-centered">
            <a id="newTemplateFromScratchButton" class="green btn" ng-click="customizePollShow()">
              <i class="fa fa-plus fa-2"></i>
              Create New Template from Scratch
            </a>
          </div>
        </div>
      </tab>
      <tab heading="Recent Polls" id="recentTab">
        <div id="recentTabContent" class="tab-content">
          <ng-include src="'partials/createPollFromRecent.html'"></ng-include>
        </div>  
      </tab>
      <tab heading="Examples" id="examplesTab">
        <div id="examplesTabContent" class="tab-content">
          <ng-include src="'partials/createPollFromExamples.html'"></ng-include>
        </div>
      </tab>
      <tab heading="Peer Recommended" id="peerRecommendedTab">
        <div id="peerRecommendedTabContent" class="tab-content">
          Peer Recommended Templates
        </div>        
      </tab>
    </tabset>
  </div>
</div>
