
<p class="test">Poll Creation go here!</p>

<div id="templateManager">
  <div id="sectionTabs">

    <!-- UI Bootstrap creates this as an unordered list -->
    <tabset class="tabbable tabbable-custom tabbable-full-width">
      <tab heading="Recent Polls" id="recentTab">
        <div id="recentTabContent">
          <ng-include src="'partials/createPollFromRecent.html'"></ng-include>
        </div>  
      </tab>
      <tab heading="My Templates" id="myTemplatesTab">
        <div id="myTemplatesTabContent">My Templates</div>
      </tab>
      <tab heading="Examples" id="examplesTab">
        <div id="examplesTabContent">Example Templates</div>
      </tab>
      <tab heading="Peer Recommended" id="recommendedTab">
        <div id="peerRecommendedTabContent">Peer Recommended Templates</div>        
      </tab>
    </tabset>
  </div>
</div>
