<div id="pollsFromPeerRecommendedContainer">
  <div ng-hide="peerPolls.length > 0">
    No peer recommended templates. Perhaps you are not liked well enough?
  </div>
  <div ng-show="peerPolls.length > 0">
  <div class="pollEntryContainer" ng-repeat="peerPoll in peerPolls">
      <div class="col-md-9">
        <div class="col-md-4">
          <span class="label label-success">{{peerPoll.type == "" ? "Smart Ping" : peerPoll.type}}</span>
        </div>
        <div class="col-md-8">
          <span>{{peerPoll.title}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <span class="forkTemplateButton pull-right" ng-click="forkTemplate(peerPoll)">
          <i class="fa fa-copy"></i> 
          Fork this Template
        </span>
      </div>
      <div class="clearBoth"></div>
    </div>
  </div>
</div>