<div id="customizePollContainer">
  <div>Walkthrough buttons go here</div>
  <ng-include src="'partials/targetSelection.html'"></ng-include>

  <div class="cambrianWell">
    <div id="pollEditingSection" class="col-md-6 cambrianAntiWell">
      <h4>Ballot Options</h4>
      <form class="form-horizontal">
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-3 control-label">Title: </label>
            <div class="col-md-9">
              <input id="titleInput" class="form-control" type="text" ng-model="poll.title"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description: </label>
            <div class="col-md-9">
              <input id="descriptionInput" class="form-control" type="text" ng-model="poll.description">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Poll Type: </label>
            <div class="col-md-9">
              <select id="typeSelector" class="form-control" type="text" ng-model="poll.type" ng-options="type for type in pollTypes"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Poll Lifespan: </label>
            <div class="col-md-9">
              <input type="text" id="lifespan" maxlength="3" size="3" ng-model="temporaryPollOptions.lifespan">
              <select id="timeSelector" ng-model="temporaryPollOptions.timeUnits" ng-options="unit for unit in units"></select>
            </div>
          </div>
        </div>
      </form>

      <div id="pollOptionsList" class="cambrianAntiWell">
        <h4>Ballot Entries</h4>
        <input type="checkbox" id="allowMultipleChoices" ng-model="poll.allowMultipleChoices"> Allow Multiple Selections
        <input type="checkbox" id="allowComments" ng-model="poll.allowComments"> Allow Comments<br />
        <label for="autoJoinChatRoomInput">Auto-join chat room: </label>
        <input type="text" id="autoJoinChatRoomInput" ng-model="temporaryPollOptions.defaultChatRoom">
        <table>
          <thead ng-show="poll.options.length > 0">
            <tr>
              <th colspan="2">Options:</th>
              <th>Auto Join Subgroup:</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="option in poll.options">
              <td>
                <a class="subtract" ng-click="removeOption(option)">X</a>
              </td>
              <td>
                <input type="text" ng-model="option.text">
              </td>
              <td>
                <input type="text" ng-model="option.subgroup">
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a id="addNewOptionLink" ng-click="addOption()">+ Add Additional Answer</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6 form-group">
        <label for="dismissLabelInput">Dismiss Button Label: </label>
        <input type="text" id="dismissLabelInput" class="form-control" ng-model="poll.dismissText">
      </div>
      <div class="col-md-6 form-group">
        <label for="submitLabelInput">Submit Button Label: </label>
        <input type="text" id="submitLabelInput" class="form-control" ng-model="poll.submitText">
      </div>
    </div> 

    <div class="col-md-1"> </div>

    <div id="pollPreviewContainer" class="col-md-5 cambrianAntiWell">
      <h4>Ballot Preview</h4>
      <ng-include src="'partials/ballotView.html'"></ng-include>
    </div> 
    <div class="clearBoth"></div>

    <div id="pollSaveWidget">
     <h4>Save Options</h4>
     <div id="pollSaveAsPoll">
       <label for="pollSaveCheckPoll">
         <input type="checkbox" id="pollSaveCheckPoll" ng-model="isPoll" ng-change="setPollSaveOptions()">
         Save as Poll</label>
     </div>
     <div id="pollSaveAsTemplate">
       <label for="pollSaveCheckTemplate">
         <input type="checkbox" id="pollSaveCheckTemplate" ng-model="isTemplate" ng-change="setPollSaveOptions()">
         Save as Template</label>
     </div>
     <div id="pollSaveCheckPoll">
       <label for="pollSaveCheckStart" ng-class="{greyedOut:!isPoll}">
         <input type="checkbox" id="pollSaveCheckStart" ng-model="startPollAfterCustomizing" ng-disabled="!isPoll" ng-change="setPollSaveOptions()">
         Start Now</label>
     </div>
     <button id="pollSaveButton" class="btn green" ng-disabled="!isPoll && !isTemplate" ng-click="saveCustomization()">{{saveButtonLabel}}</button>
    </div>
  </div>
</div>

