<material-dialog>
  <div class="dialog-content" style="overflow:hidden;">
    <div layout="horizontal" layout-align="start center">
      <div scroll-y style="width:550px;">
        <material-content class="material-content-padding" style="padding:0 ;">
        <div ng-show="poll.status === 'unstarted' || poll.status === 'unsaved'" style="margin-bottom:10px;">
          <div>  
            <material-input-group>
              <material-input class="bold" name="pollTitleInput" type="text" ng-model="poll.title" size="45" flex placeholder="Poll Title (click to edit)"></material-input>
            </material-input-group>
            <material-input-group>
              <textarea name="pollDescriptionInput" ng-model="poll.description" flex placeholder="Poll Description (click to edit)"></textarea>
            </material-input-group>
            <div class="optionsLine" ng-repeat="opt in poll.options" layout="horizontal">
              <material-checkbox ng-model="opt.remove"></material-checkbox>
              <material-input type="text" class="optionsInput" ng-model="opt.text" flex placeholder="New Poll Option (click to edit)"></material-input>
            </div>
            
            <hr>
            <div id="addOptionButton" ng-click="addOption()">
              <img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_add_18dp.png"> Add option
            </div>
            <div id="removeOptionsButton" ng-click="removeOptions()">
              <img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_remove_18dp.png"> 
              Remove Selected Options
            </div>
            <div class="clearBoth"></div>
            <hr>
            
          </div> 
          <div class="dialog-menubar-actions" layout="horizontal" layout-align="start">
            <material-button ng-click="optionsMenu = !optionsMenu" class="material-button-icon menuDrawerButton" ng-class="{active: optionsMenu === true}">
              <img ng-src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_24dp.png">
            </material-button>
            <material-button ng-click="ballotPreview = !ballotPreview" class="material-button-icon balletPreviewButton" ng-class="{active: ballotPreview == true}">
              <img ng-src="assets/images/eye_inv_24px.png">
            </material-button>
          </div>
          <div layout="horizontal" layout-align="end">
            <material-button ng-click="close()">
              Close
            </material-button>
            <material-button ng-click="nextDialog($event, poll)" class="material-button-colored">
              Next
            </material-button>
          </div>
        </div>
        <div id="optionsMenu" class="animate-show" ng-show="optionsMenu" layout="vertical" layout-align="start">
          <div layout="horizontal" layout-align="start">
            <div flex="35">
              <div class="dialog-options-options">
                Options:
                <div class="dialog-options-container">
                  <material-checkbox ng-model="poll.allowMultipleChoices" aria-label="Multiple selections">Multiple selections</material-checkbox>
                  <material-checkbox ng-model="poll.allowComments" aria-label="Comments">Comments</material-checkbox>
                  <material-checkbox ng-model="poll.showResults" aria-label="Show results" disabled>Show results on ballots</material-checkbox>
                </div>
              </div>
            </div>
            <div class="dialog-options-poll-ends">
              Poll ends:
              <div class="dialog-options-container" layout="horizontal" layout-align="start center">
                <material-input ng-model="poll.endDate" ui-date ui-date-format="mm/dd/yy" placeholder="mm/dd/yy" flex="40"></material-input><div style="margin-right:25px;">at</div><material-input ng-change="getTime()" ng-model="endTime" ui-timepicker class="ui-timepicker-input" placeholder="HH:MM" flex="40"></material-input>
              </div>
            </div>
          </div>
          <div class="clearBoth"></div>
          <div class="dialog-options-save-options">
            Save Options:
            <div class="dialog-options-container">
              <material-checkbox ng-model="isTemplate" aria-label="Save as Template">Save as Template</material-checkbox>
              <material-checkbox ng-model="isPoll" aria-label="Save as Poll">Save as Poll</material-checkbox>
            </div>
          </div>
        </div>
      </material-content>
      </div>
      <div style="width:400px;">
        {{ballotPreview + '<-'}}
      </div>
    </div>
  </div>
</material-dialog>