<material-dialog>
  <div ng-show="poll.status === 'unstarted' || poll.status === 'unsaved'">
    <div class="dialog-content">
      <material-input-group>
        <label for="pollTitleInput">Poll Title</label>
        <material-input name="pollTitleInput" type="text" ng-model="poll.title" flex></material-input>
      </material-input-group>
      <material-input-group>
        <label for="pollDescriptionInput">Poll Description</label>
        <material-input name="pollDescriptionInput" type="text" ng-model="poll.description" flex></material-input>
      </material-input-group>
      Options:
      <div class="optionsLine" ng-repeat="option in poll.options">
        <material-button ng-click="removeOption(option)" class="material-button-colored">X</material-button>
        <material-input type="text" class="optionsInput" ng-model="option.text" flex></material-input>
      </div>
    </div>
    <div class="dialog-actions" layout="horizontal" layout-end="end">
      <material-button ng-click="close()">
        Close
      </material-button>
      <material-button ng-click="save(poll)" class="material-button-colored">
        Save
      </material-button>
    </div>
  </div>
</material-dialog>