<div id="ballotHelpContainer">

  <div class="modal-header">
    <div id="pollsListHeader">
      <em>Ballot Help</em>
    </div>
  </div>

  <div class="modal-body cambrianModalWell">

    <div class="help-label bg-green">Polls</div>
    <p>
      <div class="indent1">
        Polls have a Ballot and a target Voter Roll. They can be started, deleted and even copied as a template.
      </div>
    </p>

    <div class="help-label bg-green">Ballot</div>
    <p>
      <div class="indent1">
        A Ballot is sent to each voter on a Polls Voter Roll. this ballot is then filled out and returned to the Poll.
      </div>
    </p>

    <div class="help-label bg-green">Voter Roll</div>
    <p>
      <div class="indent1">
        A Voter Roll is the list of Valid Voters for a particular Poll. Currently the supported Voter Rolls are:
      </div>
    </p>

    <div class="indent1 help-label bg-green">Peer Lists</div>
    <p>
      <div class="indent2">
        A Peer List is a Contact List that is a one way "mailing list". This is not a group chat.
      </div>
    </p>

    <div class="indent1 help-label bg-green">Group Chat</div>
    <p>
      <div class="indent2">
        A Group Chat Voter Roll is made up of all members of the specified Group Chat.
      </div>
    </p>

    <div class="help-label bg-green">Templates</div>
    <p>
      <div class="indent1">
        Poll Templates are pre-defined Polls used for kickstarting a new Poll fast. You can create your own Templates and even Share with Peers.
      </div>
    </p>

    <button class="btn btn-warning" ng-click="close()">Close</button> 

    <div class="clearBoth"></div>
  </div>
</div>