<div id="myTemplatesContainer">
  <div class="pollEntryContainer" ng-repeat="myTemplate in myTemplates">
    <div class="col-md-8">
      <div class="col-md-2">
        <span class="label label-success">{{myTemplate.type == "" ? "Smart Ping" : myTemplate.type}}</span>
      </div>
      <div class="col-md-10">
        <span>{{myTemplate.title}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <span class="deleteTemplateButton" ng-click="destroyTemplate(myTemplate)">
          <i class="fa fa-trash-o"></i> 
          Delete
        </span>
        <span class="editTemplateButton" ng-click="editTemplate(myTemplate)">
          <i class="fa fa-pencil"></i> 
          Edit
        </span>
        <span class="forkTemplateButton" ng-click="forkTemplate(myTemplate)">
          <i class="fa fa-copy"></i> 
          Fork this Template
        </span>
      </div>
    </div>
    <div class="clearBoth"></div>
  </div>
</div>