<div class="cardholder" ng-repeat="poll in polls" ng-mouseleave="poll.overflow = false">
  <material-card ng-class="{votes: poll.status === 'vote', running: poll.status === 'started', completed: poll.status === 'complete'}" ng-mouseover="poll.menubar = true" ng-mouseleave="poll.menubar = false">
    <div ng-click="editPoll($event, poll)">
      {{poll.id}}
      <h4>{{poll.title}}</h4>
      <div class="pollDetails">
        <div class="optionPreview" ng-show="poll.status === 'unstarted'">
          VOTE
          <div ng-repeat="option in poll.options">
            <input type="checkbox" disabled> {{option.text}}
          </div>
        </div>
        <div ng-show="poll.status === 'started' || poll.status === 'complete'">
          <div class="optionCounts">
            <div ng-repeat="(index, option) in poll.options">
              {{option.count}} {{option.text}}
            </div>
          </div>

          <div class="pieChartContainer">
            <nvd3-pie-chart
              id="{{poll.id}}"
              data="poll.options"
              x="xFunction()"
              y="yFunction()"
              width="{{ pieWidth }}"
              height="{{ pieHeight }}"
              margin="{left: 20, top: 20, bottom: 20, right: 20}"
              showLabels="true"
              pieLabelsOutside="true"
              showValues="true"
              labelType="percent"
              tooltips="true">
              <svg></svg>
            </nvd3-pie-chart>
          </div>
          <div class="clearBoth"></div>
        </div>
      </div>
    </div>
    <div class="cardMenuBar animate-show" ng-show="poll.menubar">
      <material-button class="material-button-icon overflowMenuButton" ng-click="overflowToggle(poll)">
        <img class="overflowMenuIcon" ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_18dp.png">
      </material-button>
    </div>
  </material-card>
  <div class="overflowMenu animate-show" ng-show="poll.overflow">
    <a ng-click="destroyPoll(poll)">Delete</a><br />
    <a ng-click="copyPoll($event, poll)">Make a Copy</a>
  </div>
</div>