<!-- Quick Add Box -->
<div id="quickAddBox">
  <form name="quickAddForm" style="padding-left:20px;" ng-init="newPoll=false">
    <material-input-group>
      <material-input ng-class="{bold:newPoll}" name="quickAddTitle" placeholder="Add Poll" id="quickAddTitle" type="text" size="45" ng-model="newPollTitle" flex ng-click="newPoll = true">
    </material-input-group>
    <material-input-group>  
      <material-input  name="quickAddDescription" placeholder="Add Description" id="quickAddDescription" type="text" size="45" ng-model="newPollDescription" flex ng-show="newPoll" click-anywhere-but-here="close()" is-active="isDropdownOpen()">
    </material-input-group>
    <material-button id="quickAddButton" class="material-button-colored" ng-show="newPoll && newPollTitle && quickAddForm.$dirty" ng-click="newPollFromScratch($event, newPollTitle, newPollDescription)">
      SAVE
    </material-button>
  </form>
  <div class="clearBoth"></div>
</div>
<!-- end Quick Add Box -->
<material-content id="pollsContainer" class="material-content-padding" scroll-y>
  <div id="quilt" ng-show="listView === 'quilt'">
    <ng-include src="'partials/pollCards.html'"></ng-include>
  </div>

  <pre>{{poll | json}}</pre>

  <div>
    <material-button class="material-button-fab material-button-fab-bottom-right material-theme-light-blue" ng-click="newPollFromScratch($event)">
      <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_24dp.png"></material-icon>
    </material-button>
  </div>
</material-content>