<!-- Quick Add Box -->
<md-content id="pollsContainer" class="container">
  <div ng-controller="quickAddCtrl" ng-show="listView == 'quilt'" class="quickAddForm">
    <md-card id="quickAddBox">
      <form name="quickAddForm" style="padding-left:20px;">
        <!--<md-input-group>
          <md-input ng-class="{bold:newItem}" name="quickAddTitle" placeholder="{{addTitlePlaceholder}}" id="quickAddTitle" type="text" size="45" ng-model="newTitle" flex ng-click="newItem = true">
        </md-input-group>
        <md-input-group>  
          <md-input  name="quickAddDescription" placeholder="{{addDescriptionPlaceholder}}" id="quickAddDescription" type="text" size="45" ng-model="newDescription" flex ng-show="newItem" click-anywhere-but-here="close()" is-active="isDropdownOpen()">
        </md-input-group>-->
        <md-input-group>
          <md-input class="bold" name="pollTitleInput" type="text" ng-model="poll.title" size="45" flex placeholder="{{addTitlePlaceholder}}" ng-click="newItem = true"></md-input>
        </md-input-group>
        <md-input-group ng-show="newItem">
          <textarea name="pollDescriptionInput" ng-model="poll.description" flex placeholder="{{addDescriptionPlaceholder}}"></textarea>
        </md-input-group>
        <div class="optionsLine" ng-repeat="opt in poll.options" layout="horizontal"
          ng-class="{focused: opt.hasFocus}" ng-mouseover="opt.menubar = true" ng-mouseleave="opt.menubar = false" ng-show="newItem">
          <md-checkbox ng-model="opt.isSelected"></md-checkbox>
          <md-input type="text" class="optionsInput" ng-model="opt.text" flex placeholder="New Poll Option (click to edit)"  focus-this="{{$index}}" ng-keypress="keypressListener($event)" ng-focus="opt.hasFocus = true" ng-blur="opt.hasFocus = false" ng-keyup="checkForOptionDelete($event,$index)" ></md-input>
          <md-button ng-show="opt.menubar" ng-click="removeOption($index)" aria-label="Remove Option">
            <img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_clear_18dp.png"></md-button>
        </div>
        <div class="newOptionWrapper" ng-class="{focused: newOptionFocused}" ng-show="newItem">
          <md-input type="text" id="addOptionInput" ng-model="newOptionText" ng-change="addOption()" placeholder="Add option" ng-focus="newOptionFocused = true" ng-blur="newOptionFocused = false"></md-input>
        </div>
        <div ng-show="newItem" layout="horizontal">
          <p style="color:black;" flex="33">Select poll targets:</p>
          <div class="custom-dropdown small" flex>
              <select ng-model="poll.pollTargetId">
                  <option value="">-- Select a Group --</option>
                  <option ng-repeat="group in myGroups" value="{{group.id}}" ng-selected="group.id==poll.pollTargetId">{{group.name}}</option>
              </select>
          </div>
        </div>
      </form>
      <div layout="horizontal" layout-align="start" ng-show="newItem" id="optionsQuickNewPoll">
        <md-button ng-click="optionsMenu = !optionsMenu" class="md-button-icon menuDrawerButton" ng-class="{active: optionsMenu === true}" aria-label="Advanced Options">
          <img ng-src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_24dp.png">
        </md-button>
        <md-button ng-click="ballotPreview = !ballotPreview" class="md-button-icon menuDrawerButton ballotPreviewButton" ng-class="{active: ballotPreview === true}" title="Ballot Preview" hide block-sm>
          <img ng-src="assets/images/eye_inv_24px.png">
        </md-button>
        <span flex></span>
        <md-button id="quickStartButton" class="quickButton" ng-show="newItem && poll.title && poll.pollTargetId && hasData(poll.options) && saveMatrix.poll" ng-click="save(true)" style="margin-right:10px;">
        START
        </md-button>
        <md-button id="quickAddButton" class="quickButton" ng-show="newItem && poll.title && (saveMatrix.poll || saveMatrix.template)" ng-click="save(false)" style="margin-right:5px;">
        SAVE
        </md-button>
      </div>
      <div class="clearBoth"></div>
    </md-card>
    <div class="optionsMenu" ng-show="optionsMenu">
      <div class="dialog-options-options">
        Options:
        <div class="dialog-options-container" layout="horizontal" style="height:inherit;">
          <p style="color:black;margin:0px;margin-right:30px;">Poll length selection:</p>
          <div layout="horizontal" layout-align="start center" flex>
            <md-input ng-model="endDate" ui-date="{minDate:'0'}" ui-date-format="mm/dd/yy" placeholder="{{edate}}"></md-input><div>at</div><md-input ng-change="getTime(endTime)" ng-model="endTime" ui-timepicker="timepickerOptions" class="ui-timepicker-input" placeholder="HH:MM" style="display: inline-block;margin-left: 20px;position: relative;width: 150px;vertical-align: middle;"></md-input>
          </div>
        </div>
        <div layout="horizontal" layout-align="start">
          <div class="dialog-options-container" flex="32">
            <md-checkbox ng-model="poll.allowMultipleChoices" aria-label="Multiple selections">Multiple selections</md-checkbox>
            <md-checkbox ng-model="poll.allowComments" aria-label="Comments">Comments</md-checkbox>
            <md-checkbox ng-model="poll.showResults" aria-label="Show results" disabled>Show results</md-checkbox>
          </div>
          <div class="dialog-options-container" flex="32">
            <md-checkbox ng-model="saveMatrix.template" aria-label="Save as Template">Save as Template</md-checkbox>
            <md-checkbox ng-model="saveMatrix.poll" aria-label="Save as Poll">Save as Poll</md-checkbox>
          </div>
          <div class="dialog-options-container" flex="33">
            <label for="dismissTextInput">Dismiss Button: </label>
            <md-input id="dismissTextInput" type="text" ng-model="poll.dismissText" placeholder="dismiss" style="margin-bottom: 10px;width: 175px;"></md-input>
            <label for="submitTextInput">Submit Button: </label>
            <md-input id="submitTextInput" type="text" ng-model="poll.submitText" placeholder="submit" style="margin-bottom: 10px;width: 175px;"></md-input>
          </div>
        </div>
        
      </div>
    </div>
    <md-card class="animate-show votes" id="quickBallotPreview" ng-show="ballotPreview" style="margin-left:0px;">
      <div class="pollOriginatorLine">
        <em>{{poll.id}}</em>
      </div>
      <div class="pollTitleLine">
        <b>{{poll.title}}</b>
      </div>
      <div>
        {{poll.description}}
      </div>
      <p ng-if="!poll.allowMultipleChoices">
        Select one:
      </p>
      <p ng-if="poll.allowMultipleChoices">
        Select one or more:
      </p>
      <div class="optionPreview">
        <div class="options">
          <table>
            <tr ng-repeat="option in poll.options" ng-if="option.text">  
            <td ng-if="poll.allowMultipleChoices"><input type="checkbox" disabled></td>
            <td ng-if="!poll.allowMultipleChoices"><input type="radio" disabled></td>
            <td>{{option.text}}</td>
            </tr>
          </table>
        </div>
        <div class="clearBoth"></div>
      </div>
      <p ng-if="poll.allowComments">
        <img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_add_18dp.png"> Add comment
      </p>
      <div layout="horizontal" layout-align="end">
        <md-button id="dismissButton">{{poll.dismissText || "dismiss"}}</md-button>
        <md-button id="submitButton" class="md-button-colored">{{poll.submitText || "submit"}}</md-button>
      </div>
    </md-card>
  </div>
  <!-- end Quick Add Box -->
  <div id="quilt">
    <ng-include src="'partials/pollCards.html'"></ng-include>
  </div>

  <!--<pre>{{poll | json}}</pre>-->

  <div>
    <md-button class="md-fab md-button-fab-bottom-right md-primary quickFabButton"  aria-label="New Poll" ng-click="newItemFromScratch($event, true, undefined, '', '')" >
        
        <md-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_24dp.png" style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
          New Poll
        </md-tooltip>
    </md-button>
  </div>

</md-content>