<div class="row" id="pollHeader">
  <div class="col-md-12">
    <a id="logo" href="#"><img src="assets/images/ping_logo.png"></a>
    </img>
    <div class="navButtons">
      <button class="green btn" id="backButton" ng-click="pollsListingShow()">
        <i class="fa fa-list"></i>
        Back to Polls
      </button>
      <button class="green btn" id="helpButton" ng-click="helpShow()">
        <i class="fa fa-question-circle"></i>
      </button>
    </div> 
  </div>
  <div class="clearBoth"></div>
</div>

<div id="pollResultsContainer">
  <div id="pollsListHeader">
    <em>Poll Results</em>
  </div>
  <div class="cambrianWell">
    <div class="row">
      <div class="col-md-8">
        <div class="pollTitle">
          <span>{{poll.type}}:</span>
          <span> {{poll.title}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
            <span class="copyPollButton">
              <i class="fa fa-copy"></i>
              Copy
            </span>
            <span class="deletePollButton">
              <i class="fa fa-trash-o"></i>
              Delete
            </span>
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <div id="ballotView" class="col-md-5">
          <!-- Ballot postview go here -->
        </div>
      
        <!-- right side -->
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <b>Status:</b> 
              <span class="label label-success">
                <b>{{poll.status}}</b>
              </span>
            </div>
          </div>
          <b>Results:</b>
          <table id="tallyTable" class="resultsTable">
            <tr ng-repeat="(index, option) in poll.options">
              <td>{{option}}</td>
              <td>{{poll.counts[index]}}</td>
            </tr>
          </table>
          <b>Stats Totals:</b>
          <table id="statsTable" class="resultsTable">
            <tr>
              <td>Sent</td>
              <td>{{poll.stats.sent}}</td>
            </tr>
            <tr>
              <td>Responded</td>
              <td>{{poll.stats.responded}}</td>
            </tr>
            <tr>
              <td>Pending</td>
              <td>{{poll.stats.pending}}</td>
            </tr>
            <tr>
              <td>Invalid</td>
              <td>{{poll.stats.invalid}}</td>
            </tr>
          </table>

          <div ng-hide="poll.comments.length == 0">
            <b>Comments:</b>
            <table class="commentsTable">
              <thead>
                <tr>
                  <th><em>From:</em></th>
                  <th><em>Comment:</em></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="comment in poll.comments">
                  <td>{{comment[0]}}</td>
                  <td>{{comment[1]}}</td>
                  <td>
                    <div class="chatButton">
                      <i class="fa fa-comments"></i>
                      <b>Chat</b>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>