<div class="row" id="pollHeader">
  <div class="col-md-12">
    <a id="logo" href="#"><img src="assets/images/ping_logo.png"></a>
    </img>
    <div class="navButtons">
      <button class="green btn" id="peerListsButton" ng-click="peerListsShow()">
        <i class="fa fa-list"></i>
        Peer Lists
      </button>
      <button class="green btn" id="manageTemplatesButton" ng-click="manageTemplatesShow()">
        <i class="fa fa-file-text-o"></i>
        Manage Templates
        </button>
      <button class="green btn" id="createPollButton" ng-click="createPollShow()">
        <i class="fa fa-plus"></i>
        Create Poll
      </button>
      <button class="green btn" id="helpButton" ng-click="helpShow()">
        <i class="fa fa-question-circle"></i>
      </button>
    </div> 
  </div>
  <div class="clearBoth"></div>
</div>

<div id="pollsListContainer">
  <div id="pollsListHeader">
    <em>Polls</em>
  </div>
  <div class="pollEntryContainer" ng-repeat="poll in polls | orderBy:'-dateStarted'">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <div class="label" ng-class="{'label-danger': poll.status === 'unstarted', 'label-success': poll.status === 'started', 'label-primary': poll.status === 'complete'}">
              <b>{{poll.status}}</b>
            </div>
          </div>
          <div class="col-md-9">
            <span ng-hide="poll.status === 'unstarted'">
              (<span>{{poll.stats.responded}}</span> /
              <span>{{poll.stats.sent}}</span> 
              Responses Complete)
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pollTitle">
            <span>{{poll.type}}:</span>
            <span> {{poll.title}}</span>
          </div>
        </div>
        <div class="row">
          <span class="col-md-12" ng-hide="poll.status === 'unstarted'">{{poll.dateStarted | date : short}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12 btn-group-vertical btn-group-solid btn-group-xs poll-btn-group">
          <div class="btn yellow btn-xs viewResultsButton" ng-hide="poll.status === 'unstarted'" ng-click="pollResultsShow(poll)">
            View Results
          </div>
          <div class="btn blue btn-xs editPollButton" ng-show="poll.status === 'unstarted'" ng-click="editPoll(poll)">
            Edit Poll
          </div>
          <div class="btn green btn-xs startPollButton" ng-show="poll.status === 'unstarted'" ng-click="startPoll(poll)">
            Start Poll
          </div>
          <div class="template-btn-group">
            <span class="copyPollButton">
              <i class="fa fa-copy"></i>
              Copy
            </span>
            <span class="deletePollButton">
              <i class="fa fa-trash-o"></i>
              Delete
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
