<div class="row" id="pollHeader">
  <div class="col-md-12">
    <a id="logo" href="#"><img src="assets/images/ping_logo.png"></a>
    </img>
    <div class="navButtons">
      <button class="green btn" id="backButton" ng-click="pollsListingShow()">
        <i class="fa fa-list"></i>
        Back to Polls
      </button>
      <button class="green btn" id="helpButton" ng-click="helpShow()">
        <i class="fa fa-question-circle"></i>
      </button>
    </div> 
  </div>
  <div class="clearBoth"></div>
</div>

<div id="pollResultsContainer">
  <div id="pollsListHeader">
    <em>Poll Results</em>
  </div>
  <div id="pollTitle">
    
  </div>
</div>