<md-dialog>
  <div ng-show="poll.status === 'unstarted' || poll.status === 'unsaved'">
    <div class="dialog-content" style="width:600px;">
      <h2>Poll target selection</h2>
      <div layout="vertical">
        <div style="padding-left:13px;">Group</div>
        <!--<div>
          <div class="custom-dropdown small">
              <select ng-options="group.name for group in myGroups" ng-model="poll.target">
                  <option value="">-- Select a Group --</option>
              </select>
          </div>
        </div>-->
        <div>
          <div class="custom-dropdown small">
              <select ng-model="poll.pollTargetId">
                  <option value="">-- Select a Group --</option>
                  <option ng-repeat="group in myGroups" value="{{group.id}}" ng-selected="group.id==poll.pollTargetId">{{group.name}}</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions" layout="horizontal" layout-align="end">
      <md-button id="closeButton" ng-click="close()">
        Close
      </md-button>
      <md-button ng-show="poll.pollTargetId" id="startButton" ng-click="save(poll, saveMatrix, $event,true)" class="md-button-colored">
        Start
      </md-button>
      <md-button id="saveButton" ng-click="save(poll, saveMatrix, $event,false)" class="md-button-colored">
        Save
      </md-button>
    </div>
  </div>
</md-dialog>