<material-dialog>
  <div ng-show="poll.status === 'unstarted' || poll.status === 'unsaved'">
    <div class="dialog-content">
      <h2>Poll target selection {{poll.target.name}}</h2>
      <div layout="vertical">
        <div style="padding-left:13px;">Group</div>
        <div>
          <div class="custom-dropdown small">
              <select ng-model="poll.target">
                  <option value="">-- Select a Group --</option>
                  <option ng-repeat="group in myGroups" value="group" ng-class="{selected:poll.target.name=group.name">{{group.name}}</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions" layout="horizontal" layout-align="end">
      <material-button ng-click="close()">
        Close
      </material-button>
      <material-button ng-click="save(poll)" class="material-button-colored">
        Save
      </material-button>
    </div>
  </div>
</material-dialog>