<material-dialog>
  <div ng-show="poll.status === 'started' || poll.status === 'complete'" ng-class="{votes: poll.status === 'vote', running: poll.status === 'started', completed: poll.status === 'complete'}" ng-mouseover="dialog.menubar = true" ng-mouseleave="dialog.menubar = false">
    <div class="dialog-content">
      <div class="pollInformation">
        <div layout="horizontal" layout-align="space-between">
          <span>
            Poll ends at {{poll.endTime}} on {{poll.endDate | date : 'MM/dd/yy'}}
          </span>
          <span>{{poll.originator}}</span>
        </div>
        <h2>{{poll.title}}</h2>
        <p>
          {{poll.description}}
        </p>

        <div id="statsBox">
          <span class="tableTitle"><b>Poll Stats:</b></span>
          <table id="pollStatsTable">
            <tr>
              <td>Sent</td>
              <td>{{poll.stats.sent}}</td>
            </tr>
            <tr>
              <td>Responded</td>
              <td>{{poll.stats.responded}}</td>
            </tr>
            <tr>
              <td>Pending</td>
              <td>{{poll.stats.pending}}</td>
            </tr>
            <tr>
              <td>Invalid</td>
              <td>{{poll.stats.invalid}}</td>
            </tr>
          </table>
        </div>

        <div id="resultsBox" layout="horizontal">
          <div> 
            <span class="tableTitle"><b>Poll Results:</b></span>
            <table id="pollResultsTable">
              <tr ng-repeat="option in poll.options">
                <td>{{option.text}}</td>
                <td>{{option.count}}</td>
              </tr>
            </table>

          </div>

          <div class="pieChartContainer">
            <nvd3-pie-chart
              id="{{poll.id}}big"
              data="poll.options"
              x="xFunction()"
              y="yFunction()"
              width="{{ pieWidth }}"
              height="{{ pieHeight }}"
              margin="{left: 15, top: 15, bottom: 15, right: 15}"
              showLabels="true"
              pieLabelsOutside="true"
              showValues="true"
              labelType="value"
              tooltips="true">
              <svg></svg>
            </nvd3-pie-chart>
          </div>
        </div>
        <div class="clearBoth"></div>
      </div>
    </div>
    <div class="dialog-actions" layout="horizontal" layout-align="end">
      <material-button id="closeButton" ng-click="close()">
        Close
      </material-button>
    </div>

    <div id="actionMenuBar" class="cardMenuBar animate-show" ng-show="dialog.menubar">
      <material-button ng-if="poll.allowComments" class="material-button-icon" ng-click="showComments(e, poll)">
        <img id="showCommentsButton" ng-src="material-icons/icons/system_icons/communication/res/1x_web/ic_chat_wht_18dp.png">
      </material-button>
    </div>

  </div>
</material-dialog>