<md-tabs selected="selectedIndex" noink>
  <md-tab on-select="collectionChange()" label="My Templates"></md-tab>
  <md-tab on-select="collectionChange()" label="Copy From Recent Polls"></md-tab>
  <md-tab on-select="collectionChange()" label="Copy From Examples"></md-tab>
  <md-tab on-select="collectionChange()" label="Copy From Peer Recommended"></md-tab>
</md-tabs>

<md-content id="templatesContainer" class="container" scroll-y>


  <div class="quilt"  id="templateInside">
    <ng-include src="'partials/templateCards.html'"></ng-include>
  </div>

  <!--<pre>{{poll | json}}</pre>-->

  <div>
    <md-button class="md-button-fab md-button-fab-bottom-right addNewPollBtn md-theme-light-blue" ng-click="newItemFromScratch($event, false)" title="New Template">
      <md-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_24dp.png"></md-icon>
    </md-button>
  </div>
</md-content>