<div> 
  <div ng-show="selectedIndex == 0">
    <!-- Quick Add Box -->
    <div id="quickAddBox">
      <form name="quickAddForm" style="padding-left:20px;" ng-init="newItem=false" ng-controller="quickAddCtrl">
        <material-input-group>
          <material-input ng-class="{bold:newItem}" name="quickAddTitle" placeholder="{{addTitlePlaceholder}}" id="quickAddTitle" type="text" size="45" ng-model="newTitle" flex ng-click="newItem = true">
        </material-input-group>
        <material-input-group>  
          <material-input  name="quickAddDescription" placeholder="{{addDescriptionPlaceholder}}" id="quickAddDescription" type="text" size="45" ng-model="newDescription" flex ng-show="newItem" click-anywhere-but-here="close()" is-active="isDropdownOpen()">
        </material-input-group>
        <material-button id="quickAddButton" class="material-button-colored" ng-show="newItem && newTitle && quickAddForm.$dirty" ng-click="newItemFromScratch($event, false, quickAddForm, newTitle, newDescription)">
          SAVE
        </material-button>
      </form>
      <div class="clearBoth"></div>
    </div>
    <!-- end Quick Add Box -->
  </div>
  <div class="cardholder" ng-repeat="template in templates" ng-mouseleave="template.overflow = false">
    <material-card class="mainCard" ng-mouseover="template.menubar = true" ng-mouseleave="template.menubar = false">
      <div class="cardContentContainer" ng-click="zoomTemplate($event, template)">
        <div class="pollTitleLine">
          <b>{{template.title}}</b>
        </div>
        <div class="pollDetails">

          <div class="optionPreview">
            <div class="options">
              <table>
                <tr><td colspan="2">OPTIONS</td></tr>
                <tr ng-repeat="option in template.options">  
                <td class="previewCheckbox"><input type="checkbox" disabled></td>
                <td>{{option.text}}</td>
                </tr>
              </table>
            </div>
            <div class="clearBoth"></div>
          </div>

          <div class="clearBoth"></div>
        </div>
      </div>
      <div>
      <div class="cardMenuBar animate-show" ng-show="template.menubar">
        <material-button class="material-button-icon overflowMenuButton" ng-click="overflowToggle(template)" layout="vertical" layout-align="end end">
          <img class="overflowMenuIcon" ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_18dp.png">
        </material-button>
      </div>
    </material-card>
  </div>
  <material-card class="overflowMenu animate-show" ng-show="template.overflow" layout="vertical">
    <a class="destroyAction" ng-if="selectedIndex == 0" ng-really-message="Are you sure you want to delete this poll?" ng-really-click="destroyTemplate(template)">Delete</a>
    <a class="forkAction" ng-click="forkTemplate($event, template)" ng-if="selectedIndex == 0 || selectedIndex == 2 || selectedIndex == 3">Fork this Template</a>
    <a class="pollFromTemplateAction" ng-click="newPollFromTemplate($event, template)" ng-if="selectedIndex == 0 || selectedIndex == 2 || selectedIndex == 3">New Poll from This Template</a>
    <a class="forkAction" ng-click="forkTemplate($event, template)" ng-if="selectedIndex == 1">New Template From This Poll</a>
    <a class="pollFromTemplateAction" ng-click="newPollFromTemplate($event, template)" ng-if="selectedIndex == 1">New Poll From This Poll</a>
  </material-card>
</div>

<pre>{{quickAddForm | json}}</pre>
