<md-content id="pollContainer" class="md-content-padding" scroll-y>
  <div id="quilt" ng-show="listView === 'quilt'">
    <div layout="horizontal" layout-align="center">
      <md-card id="ballotCard" class="votes">
        <span id="ballotOriginator">
          <em>{{poll.originator}}</em>
        </span>
        <div id="ballotTitle">
          <b>{{poll.title}}</b>
        </div>
        <div id="ballotDescription">
          {{poll.description}}
        </div>
        <p ng-if="!poll.allowMultipleChoices">
          Select one:
        </p>
        <p ng-if="poll.allowMultipleChoices">
          Select one or more:
        </p>
        <div id="ballotOptionsContainer">
          <span class="ballotOption" ng-repeat="option in poll.options">
            <label>
              <input type="radio" ng-model="$parent.ballot.selectedOption" ng-value="option.text"> {{option.text}}
            </label>
          </span>
        </div>
        <p ng-if="poll.allowComments">
          <a id="addCommentLink" ng-click="showCommentInput = true" ng-hide="showCommentInput"><img ng-src="material-icons/icons/system_icons/content/res/1x_web/ic_add_18dp.png"> Add comment</a>
          <textarea id="commentInput" ng-model="ballot.ballotComment" ng-show="showCommentInput"></textarea>
        </p>
        <div layout="horizontal" layout-align="end">
          <md-button id="dismissButton" class="md-button" ng-click="dismiss()">{{poll.dismissText || "Dismiss"}}</md-button>
          <md-button id="submitButton" class="md-button-colored" ng-click="submit()">{{poll.submitText || "Submit"}}</md-button>
        </div>
      </md-card>
    </div>
  </div>
</md-content>