<!DOCTYPE html>
<html ng-app="pollApp">
  <head>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/angular-route.js" type="text/javascript"></script>
    <script src="js/mockPolls.js" type="text/javascript"></script>
    <script src="js/pollApp.js" type="text/javascript"></script>
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/style-metronic.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
  </head>
  <body ng-controller="pollAppCtrl">
    <div class="container">
      <div class="row" id="pollHeader">
        <div class="col-md-12">
          <img src="assets/images/ping_logo.png">
          </img>
          <div class="navButtons">
            <button class="green btn" id="peerListsButton" ng-click="peerListsShow()">
              <i class="fa fa-list"></i>
              Peer Lists
            </button>
            <button class="green btn" id="manageTemplatesButton" ng-click="manageTemplatesShow()">
              <i class="fa fa-files-o"></i>
              Manage Templates
              </button>
            <button class="green btn" id="createPollButton" ng-click="createPollShow()">
              <i class="fa fa-plus"></i>
              Create Poll
            </button>
            <button class="green btn" id="helpButton" ng-click="helpShow()">
              <i class="fa fa-question-circle"></i>
            </button>
          </div> 
        </div>
      </div>
      <div class="clearBoth"></div>
      <div ng-view>
      </div>
    </div>
  </body>
</html>
