<!DOCTYPE html>
<html ng-app="pollApp">
<head>
<title>Ballot</title>
<link rel="stylesheet" type="text/css" media="screen" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="css/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/docs.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/dropdown.css">
<link rel="stylesheet" type="text/css" href="bower_components/nvd3/nv.d3.css">
<link rel="stylesheet" type="text/css" href="css/pantheonPollMaster.css">
</head>
<body ng-controller="pollAppCtrl">
<div id="applicationContainer" layout="horizontal">
  <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left" layout="vertical">
        <material-toolbar class="pantheonToolbar" ng-class="{template:isTmpl}">
          <h1 class="material-toolbar-tools">Society Pro</h1>
          <span flex></span>
        </material-toolbar>
        <material-content>
          <div>
            <button id="pollsButton" class="menu-item menu-sub-item" ng-class="{active: menu.isFilterSelected(filter)}" ng-click="pollsShow(); $event.stopImmediatePropogation();">
              Polls
              <material-ripple initial-opactiy="0.4" opacity-decay-velocity="1.75"></material-ripple>
            </button>
            <button id="templatesButton" class="menu-item menu-sub-item" ng-class="{active: menu.isFilterSelected(filter)}" ng-click="templatesShow(); $event.stopImmediatePropogation();">
              Templates
              <material-ripple initial-opactiy="0.4" opacity-decay-velocity="1.75"></material-ripple>
            </button>
          </div>
        </material-content>
        <span flex></span>
        <div class="appVersion">
          <p>Ballot version: 0.1.8</p>
        </div>
      </material-sidenav>
  <div layout="vertical" layout-fill ng-class="{mainContentPolls:view,mainContentTemplates:!view}">
    <material-toolbar scroll-shrink class="pantheonToolbar">
      <div layout="horizontal">
        <div class="material-toolbar-tools">
          <div id="menu-drawer-button" class="menu-icon" ng-click="toggleMenu()"> <img src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_wht_24dp.png"> </div>
          <h2 class="toolbarTitle">Ballot</h2>
        </div>
        <div id="viewButtons" layout="horizontal" flex="25" layout-align="end">
          <div id='cssmenu' ng-if="checkView()">
            <ul>
              <li class='active has-sub last' id="filterButton">
                <material-button class="viewButton clicker material-button-icon" title="Filter Polls">
                  <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_filter_wht_24dp.png"></material-icon>
                </material-button>
                <ul>
                  <ul>
                    <li class='active has-sub last' id="filterButton">
                      <material-button class="viewButton clicker material-button-icon" title="Filter Polls">
                        <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_filter_wht_24dp.png"></material-icon>
                      </material-button>
                      </ul>
                        <li ng-repeat="filter in menu.filters" ng-class="{last:$last}"> <a id="filterButton" class="menu-item menu-sub-item" ng-class="{active: menu.isFilterSelected(filter)}" ng-click="menu.selectFilter(filter); $event.stopImmediatePropogation()"> <span class="color-chip" style='background-color: {{filter.color}};'></span> <span ng-bind="filter.filter"></span>
                          <material-ripple initial-opactiy="0.4" opacity-decay-velocity="1.75"></material-ripple>
                          </a> </li>
                </ul>
              </li>
            </ul>
          </div>
          <material-button id="streamButton" class="viewButton material-button-icon" ng-click="streamView()" ng-class="{active: listView === 'stream', inactive: listView === 'quilt'}" title="Show as Stream">
            <material-icon icon="material-icons/icons/system_icons/action/res/1x_web/ic_view_stream_wht_24dp.png"></material-icon>
          </material-button>
          <material-button id="quiltButton" class="viewButton material-button-icon" ng-click="quiltView()" ng-class="{active: listView === 'quilt', inactive: listView === 'stream'}" title="Show as Quilt">
            <material-icon icon="material-icons/icons/system_icons/action/res/1x_web/ic_view_quilt_wht_24dp.png"></material-icon>
          </material-button>
        </div>
      </div>
    </material-toolbar>
    <div class="content-padding">
      <ng-view></ng-view>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/date.js"></script> 
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script> 
<!--<script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>--> 
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script> 
<script src="bower_components/angular/angular.js" type="text/javascript"></script> 
<script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script> 
<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script> 
<script src="bower_components/d3/d3.js" charset="utf-8"></script> 
<script src="bower_components/nvd3/nv.d3.js"></script> 
<script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script> 
<script src="js/angular-material.js" type="text/javascript"></script> 
<script src="js/ui-bootstrap-tpls-0.11.0.js"></script> 
<script src="bower_components/japi/mocks/mockJapi.js" type="text/javascript"></script> 
<script src="bower_components/japi/js/japi.js" type="text/javascript"></script> 
<script type="text/javascript" src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script> 
<script src="js/timepicker.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script> 
<script src="js/pollApp.js" type="text/javascript"></script> 
<script src="js/pollJapi.js" type="text/javascript"></script> 
<script src="js/targetSelectionCtrl.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/dropdown.js"></script>
 
<script src="bower_components/jquery-bridget/jquery.bridget.js"></script> 
<script src="bower_components/get-style-property/get-style-property.js"></script> 
<script src="bower_components/get-size/get-size.js"></script> 
<script src="bower_components/eventEmitter/EventEmitter.js"></script> 
<script src="bower_components/eventie/eventie.js"></script> 
<script src="bower_components/doc-ready/doc-ready.js"></script> 
<script src="bower_components/matches-selector/matches-selector.js"></script> 
<script type="text/javascript" src="bower_components/outlayer/item.js"></script> 
<script type="text/javascript" src="bower_components/outlayer/outlayer.js"></script> 
<script type="text/javascript" src="bower_components/masonry/masonry.js"></script> 
<script src="bower_components/imagesloaded/imagesloaded.js"></script>
<script src="bower_components/angular-masonry/angular-masonry.js" type="text/javascript"></script>
</body>
</html>
